<footer class="fv-footer flex-center">
  <div class="fv-mid">
    <h4 class="fv-title">SIGA O FRONT IN VALE</h4>
    <div class="flex-center">
      <a href="https://www.instagram.com/frontinvale/" target="_blank">
        <img src="./assets/images/icon-instagram.svg">
      </a>
      <a href="https://www.youtube.com/@FrontInVale" target="_blank">
        <img src="./assets/images/icon-youtube.svg">
      </a>
      <a href="https://twitter.com/frontinvale" target="_blank">
        <img src="./assets/images/icon-twitter.svg">
      </a>
      <a href="https://www.facebook.com/frontinvale" target="_blank">
        <img src="./assets/images/icon-facebook.svg">
      </a>
    </div>
    <p>Copyright © FrontInVale 2023. Todos os direitos reservados.</p>
  </div>
</footer>
