<header class="header">
  <div class="logo">
    <h1>
      <img src="images/logo.png" alt="Logo">
      <span><strong>{{ site.title }}</strong> {{ site.year }}</span>
    </h1>
  </div>

  <nav class="menu">
    <span class="trigger"><i></i></span>

    <ul class="list">
      <li class="item">
        <a href="#" data-ref=".welcome" class="item-link">Sobre</a>
      </li>
      <li class="item">
        <a href="#speakers" data-ref="#speakers" class="item-link">Palestrantes</a>
      </li>
      <li class="item">
        <a href="#location" data-ref="#location" class="item-link">Local</a>
      </li>
      <!-- <li class="item">
        <a href="#schedule" class="item-link">Programação</a>
      </li> -->
      <li class="item">
        <a href="#sponsors" data-ref="#sponsors" class="item-link">Patrocinadores</a>
      </li>
    </ul>
  </nav>
</header>
