<header class="header">
  <h1 class="logo">
    <a href="{{site.url}}">
      <img class="logo-icon" src="images/logo-frontinvale.svg" alt="Logo {{ site.title }} {{ site.year }}">
      <img class="logo-text" src="images/font-logo-frontinvale.svg" alt="{{ site.title }} {{ site.year }}">
    </a>
  </h1>

  <input type="checkbox" id="menu-control">
  <label for="menu-control" class="menu-control"></label>
  <label for="menu-control" class="menu-control-close"></label>
  <nav class="menu">
    <ul class="list">
      <li class="item">
        <a href="#" data-ref=".welcome" class="item-link">Sobre</a>
      </li>
      <li class="item">
        <a href="#speakers" data-ref="#speakers" class="item-link">Palestrantes</a>
      </li>
      <li class="item">
        <a href="#location" data-ref="#location" class="item-link">Local</a>
      </li>
      <li class="item">
        <a href="#schedule" data-ref="#schedule" class="item-link">Programação</a>
      </li>
      <li class="item">
        <a href="#sponsors" data-ref="#sponsors" class="item-link">Patrocinadores</a>
      </li>
    </ul>
  </nav>
</header>
