<section class="fv-interested flex-center">
  <div class="fv-mid flex-center flex-fv-column">
    <div class="fv-interested-desc">
      <p>
        Tem interesse em <br>
        patrocinar ou apoiar o <br>
        maior evento de Front-end <br>
        do Vale do Paraíba?
      </p>
      <p>Então agora é a hora de se preparar para a batalha!</p>
      <a href="mailto:contato@frontinvale.com.br" target="_blank" class="fv-button-primary" title="QUERO AJUDAR A TREINAR A TROPA">QUERO AJUDAR A TREINAR A TROPA</a>
    </div>
    <div>
      <img src="./assets/images/img-sponsorship.jpg" srcset="./assets/images/img-sponsorship@2x.jpg 2x, ./assets/images/img-sponsorship@3x.jpg 3x" class="Photo">
    </div>
  </div>
</section>
