<section class="fv-is-coming flex-center">
  <div class="fv-mid flex-center">
    <div>
      <h2 class="fv-title">
        ESTÁ CHEGANDO <br>
        A QUINTA EDIÇÃO <br>
        DO FRONT IN VALE!
      </h2>
      <p>O FrontInVale reúne centenas de pessoas para discutir sobre Front-end, design de interface, experiência do usuário e boas práticas de desenvolvimento.</p>
      <p>Este ano o evento conta com a temática Game of Thrones para turbinar ainda mais este ambiente que é preparado para estimular a troca de conteúdo e experiências com casos reais e soluções inovadoras.</p>
      <p>
        Por desenvolvedores.<br>
        Para desenvolvedores. ;)<br>
        #Partiu #FrontInVale
      </p>
    </div>
    <div class="flex-center">
      <a href="javascript:;">
        <img src="{{site.url}}/assets/images/icon-arrow-left.svg">
      </a>
      <ul>
        <li>
          <img src="{{site.url}}/assets/images/gallery/photo.jpg" srcset="{{site.url}}/assets/images/gallery/photo@2x.jpg 2x, {{site.url}}/assets/images/gallery/photo@3x.jpg 3x" class="Photo">
        </li>
      </ul>
      <a href="javascript:;">
        <img src="{{site.url}}/assets/images/icon-arrow-right.svg">
      </a>
    </div>
  </div>

  <span class="fv-mouse flex-column">
    <img src="{{site.url}}/assets/images/icon-mouse.svg">
    <img src="{{site.url}}/assets/images/icon-arrow-bottom.svg">
  </span>
</section>