<section class="fv-is-coming flex-center">
  <div class="fv-mid flex-center flex-fv-column">
    <div class="fv-is-coming-desc">
      <h2 class="fv-title">
        APÓS 3 ANOS E UMA PANDEMIA,<br>
        <span>ESTAMOS DE VOLTA</span>
      </h2>
      <p>O <strong>FrontInVale</strong> reúne centenas de pessoas para discutir sobre Front-end, design de interface, experiência do usuário e boas práticas de desenvolvimento.</p>
      <p>Este ano o evento conta com a temática The Last of Us para turbinar ainda mais este ambiente que é preparado para estimular a troca de conteúdo e experiências com casos reais e soluções inovadoras.</p>

      <p>
        Por pessoas desenvolvedoras.<br>
        Para pessoas desenvolvedoras. ;) <strong>#Partiu #FrontInVale</strong>
      </p>

      <a href="{{site.sympla}}" target="_blank" class="fv-button-primary" title="Quero me inscrever agora">Quero me inscrever agora</a>
    </div>
    <div class="fv-is-coming-gallery">
      <p><strong>E como foi o FrontInVale 2019:</strong></p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/gov0wAPWVBo" title="Como foi o Front In Vale 2019" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</section>
