<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="http://frontinvale.com.br/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Front in Vale 2016</title>
  <meta name="description" content="Segundo evento de front-end no Vale do Paraíba.">
  <meta name="keywords" content="frontend, front-end, html, html5, css, css3, javascript, js" />

  <meta property="og:title" content="Front in Vale 2016" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="website" />
  <meta property="og:keywords" content="frontend, front-end, html, html5, css, css3, javascript, js" />
  <meta property="og:description" content="Segundo evento de front-end no Vale do Paraíba." />
  <meta property="og:url" content="http://frontinvale.com.br" />
  <meta property="og:image" content="http://frontinvale.com.br/images/frontinvale-social.png" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="500">
  <meta property="og:image:height" content="300">

  <meta name="twitter:title" content="Front in Vale 2016" />
  <meta name="twitter:description" content="Segundo evento de front-end no Vale do Paraíba." />
  <meta name="twitter:url" content="http://frontinvale.com.br" />
  <meta name="twitter:image" content="http://frontinvale.com.br/images/frontinvale-social.png" />
  <meta name="twitter:image:width" content="500" />
  <meta name="twitter:image:height" content="300" />

  <link rel="canonical" href="http://frontinvale.com.br/">

  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
