<section class="fv-location" id="location">
  <img class="w100 zindex-2" src="{{site.url}}/assets/images/img-shields-top.jpg" srcset="{{site.url}}/assets/images/img-shields-top@2x.jpg 2x, {{site.url}}/assets/images/img-shields-top@3x.jpg 3x">

  <div class="fv-location-desc flex-center zindex-2">
    <div>
      <img src="{{site.url}}/assets/images/icon-place.svg" class="fv-location-icon-place">
      <br>
      <h2 class="fv-title">TEATRO UNIVAP</h2>
      <br>
      <p>Praça Cândido Dias Castejón, 116 Centro, São José dos Campos/SP</p>
      <br>
      <p>O espeço recebe uma diversificada gama de eventos e possui uma ótima infraestrutura - ar condicionado, wcs e espaços de convivência.</p>
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.3938003074336!2d-45.8915625850291!3d-23.1923149848674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a149925e4b9%3A0xd44e057b6da767fa!2sTeatro+Univap!5e0!3m2!1spt-BR!2sbr!4v1560306681107!5m2!1spt-BR!2sbr" frameborder="0" allowfullscreen></iframe>

  <img class="w100 zindex-2" src="{{site.url}}/assets/images/img-shields-bottom.jpg" srcset="{{site.url}}/assets/images/img-shields-bottom@2x.jpg 2x, {{site.url}}/assets/images/img-shields-bottom@3x.jpg 3x">
</section>