<section class="fv-organization fv-speakers" id="organization">
  <div class="fv-mid-column">
    <h2 class="fv-title">ORGANIZAÇÃO</h2>
    <ul class="flex-wrap">
      {% for organization in site.data.organization %}
        <li class="flex-wrap-item">
          <img src="{{site.url}}/assets/images/speakers/{{organization.picture}}">
          <div>
            <h4 class="fv-title">
              {{organization.name}}
            </h4>
            <p>{{organization.job}}</p>
            <p class="fv-description">{{speaker.description}}</p>
            <a href="{{organization.social}}" target="_blank">
              <img src="{{site.url}}/assets/images/icon-linkedin.svg">
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
