<section class="fv-schedule">
  <img src="{{site.url}}/assets/images/img-cast.jpg" class="w100" srcset="{{site.url}}/assets/images/img-cast@2x.jpg 2x, {{site.url}}/assets/images/img-cast@3x.jpg 3x">
  
  <div class="fv-mid flex-column">
    <h2 class="fv-title">PROGRAMAÇÃO: SÁBADO, 10/08</h2>
    <br>
    <p>* Programação sujeita a alterações.</p>

    <div class="fv-timeline">
      <div class="fv-talks">
        <div class="fv-talk">
          <span class="fv-talk-time">
            08:00
            <img src="{{site.url}}/assets/images/icon-register.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Credenciamento <br>+ Welcome Coffee</strong>
          </p>
          <br>
          <p>Momento da chegada no evento para encontrar com a galera, tomar um cafézinho e se preparar para curtir ao máximo esse dia recheado de conhecimento.</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            08:40
            <img src="{{site.url}}/assets/images/icon-mc.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Shall we begin?</strong>
            <br>
            (Daenerys Targaryen)
          </p>
          <br>
          <p>Abertura oficial do evento com os apresentadores e Michel Amaral, CEO da Designa e idealizador do #FrontInVale.</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            09:00
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>History API</strong>
            <br>
            por Fernando Daciuk
          </p>
          <br>
          <p>Resumo da palestra  resumo da palestra resumo da palestra resumo da palestra resumo da palestra resumo da palestra.</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            10:00
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Componentes nativos: uma chance de mudar o futuro!</strong>
            <br>
            por Larissa Abreu
          </p>
          <br>
          <p>Resumo da palestra  resumo da palestra resumo da palestra resumo da palestra resumo da palestra resumo da palestra.</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            11:00
            <img src="{{site.url}}/assets/images/icon-lightning-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Lightning Talks - Rodada #1</strong>
          </p>
          <br>
          <p><span>Introdução ao ReasonML <strong>por Ana Luiza Portello</strong></span></p><br>
          <p><span>Onde é que está?! <strong>por Talysson de Oliveira</strong></span></p><br>
          <p><span>Como o Design System te ajuda a focar em pessoas, e não pixels :) <strong>por Mariana Rondino</strong></span></p><br>
          <p><span>ES2015 Template Literals - Da Interpolação a rendereização de templates com lit-html <strong>por Yan Magalhães</strong></span></p><br>
          <p>Palestra surpresa</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            12:00
            <img src="{{site.url}}/assets/images/icon-lunch.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Almoço</strong>
          </p>
          <br>
          <p>Hora de se alimentar e fazer aquele networking maroto. :)</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            13:30
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>GraphQL para reduzir complexidade no front e no back</strong>
            <br>
            por Kate Martins Rufino
          </p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            14:30
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
            <p class="fv-talk-title">
              <strong>Minha webapp tá em produção, e agora?</strong>
              <br>
              por Hugo Bessa
            </p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            15:30
            <img src="{{site.url}}/assets/images/icon-coffee-break.svg">
          </span>
          <div>
            <p>
              <strong>Coffee Break</strong>
            </p>
          </div>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            16:00
            <img src="{{site.url}}/assets/images/icon-lightning-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Lightning Talks - Rodada #2</strong>
          </p>
          <br>
          <p><span>Introdução ao ReasonML <strong>por Ana Luiza Portello</strong></span></p><br>
          <p><span>Onde é que está?! <strong>por Talysson de Oliveira</strong></span></p><br>
          <p><span>Como o Design System te ajuda a focar em pessoas, e não pixels :) <strong>por Mariana Rondino</strong></span></p><br>
          <p><span>ES2015 Template Literals - Da Interpolação a rendereização de templates com lit-html <strong>por Yan Magalhães</strong></span></p><br>
          <p>Palestra surpresa</p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            17:00
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Montando layouts em um mini game chamado Browser</strong>
            <br>
            por Simone Amorim
          </p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            18:00
            <img src="{{site.url}}/assets/images/icon-talk.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Imutabilidade em Objetos com JavaScript</strong>
            <br>
            por Matheus Marsiglio
          </p>
        </div>
        <div class="fv-talk">
          <span class="fv-talk-time">
            19:00
            <img src="{{site.url}}/assets/images/icon-mc.svg">
          </span>
          <p class="fv-talk-title">
            <strong>Encerramento oficial</strong>
          </p>
          <br>
          <p>Ahh, ta acabando! Mas com certeza levaremos muitas lições para vida. Que venha a próxima edição.</p>
        </div>
      </div>
    </div>
  </div>
</section>