<section class="fv-schedule" id="schedules">
  <img src="./assets/images/img-cast.jpg" class="w100" srcset="./assets/images/img-cast@2x.jpg 2x, ./assets/images/img-cast@3x.jpg 3x">
  
  <div class="fv-mid-column">
    <h2 class="fv-title">PROGRAMAÇÃO: SÁBADO, 10/08</h2>
    <br>
    <p>* Programação sujeita a alterações.</p>

    <div class="fv-timeline">
      <div class="fv-talks">
        {% for schedule in site.data.schedule %}
          <div class="fv-talk">
            <span class="fv-talk-time">
              {{schedule.hour}}
              <img src="./assets/images/icon-{{schedule.kind}}.svg">
            </span>
            <p class="fv-talk-title">
              <strong>{{schedule.title}}</strong>
            </p>
            <br>
            <p>{{schedule.description}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
