<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day13" class="item-link active">Dia 13</a>
        </li>

        <li class="item">
          <a href="#day14" class="item-link">Dia 14</a>
        </li>

        <li class="item">
          <a href="#day15" class="item-link">Dia 15</a>
        </li>

        <li class="item">
          <a href="#day16" class="item-link">Dia 16</a>
        </li>

        <li class="item">
          <a href="#day17" class="item-link">Dia 17</a>
        </li>
      </ul>
    </nav>

    <div class="room active" id="day13">
      <h1>Tutoriais</h1>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day14">
      <h1>Tutoriais</h1>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno dos tutoriais</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day15">
      <h1>Palestras</h1>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day16">
      <h1>Palestras</h1>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das palestras</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>

    <div class="room" id="day17">
      <h1>Atividades</h1>

      <div class="lecture">
        <p class="title"><time>08:00</time> - Início das atividades</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>09:00</time> - Coffee Break</p>
      </div>

      <div class="lecture">
        <p class="title"><time>10:00</time> - Retorno das atividades</p>
        <p class="speaker">Em breve palestrantes...</p>
      </div>

      <div class="lecture">
        <p class="title"><time>12:00</time> - Almoço</p>
        <p class="speaker">Em breve grade completa...</p>
      </div>
    </div>
  </div>
</section>
