<section class="fv-speakers fv-speakers-first" id="speakers">
  <div class="fv-mid-column">
    <h2 class="fv-title">PALESTRANTES CONFIRMADOS</h2>
    <ul class="flex-wrap">
      {% for speaker in site.data.speakers %}
        <li class="flex-wrap-item">
          <img src="./assets/images/speakers/{{speaker.picture}}">
          <div>
            <h4 class="fv-title">
              {{speaker.name}}
            </h4>
            <p>{{speaker.job}}</p>
            <p class="fv-description">{{speaker.description}}</p>
            <a href="{{speaker.social}}" target="_blank">
              <img class="fv-small-icon" src="./assets/images/icon-{{speaker.network}}.svg">
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="fv-speakers fv-speakers-last">
  <div class="fv-mid-column">
    <h2 class="fv-title">LIGHTNING TALKS</h2>
    <ul class="flex-wrap">
      {% for speaker in site.data.light-speakers %}
        <li class="flex-wrap-item">
          <img src="./assets/images/speakers/{{speaker.picture}}">
          <div>
            <h4 class="fv-title">
              {{speaker.name}}
            </h4>
            <p>{{speaker.job}}</p>
            <p class="fv-description">{{speaker.description}}</p>
            <a href="{{speaker.social}}" target="_blank">
              <img class="fv-small-icon" src="./assets/images/icon-{{speaker.network}}.svg">
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>