<section class="speakers" id="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      {% for speaker in site.speakers %}
      <li class="speaker">
        <a href="{{speaker.link}}" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="{{speaker.photo}}" alt="{{speaker.name}}">
          </div>

          <h2 class="speaker-name">{{speaker.name}}</h2>
          <p class="speaker-description">{{speaker.bio}}</p>
        </a>
      </li>
      {% endfor %}

    </ul>
  </div>
</section>
