<section class="fv-speakers">
  <div class="fv-mid">
    <h2 class="fv-title">Palestrantes</h2>
    <ul class="flex-column-3">
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="fv-speakers">
  <div class="fv-mid">
    <h2 class="fv-title">LIGHTNING TALKS</h2>
    <ul class="flex-column-4">
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="fv-speakers">
  <div class="fv-mid">
    <h2 class="fv-title">Apresentadores</h2>
    <ul class="flex-center">
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
      <li>
        <img src="http://2018.frontinvale.com.br/images/speakers/rodrigo-yoshida.jpg">
        <div>
          <h4>Fernando Daciuk</h4>
          <p>Front-end | Empresa</p>
          <p class="fv-description">Gamer, front-end, developer, futura suicide girl, cantora, PotterHead e web plataform evangelist.</p>
          <a href="javascript:;">
            <img src="{{site.url}}/assets/images/icon-linkedin.svg">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>