<section class="fv-sponsors flex-column" id="sponsors">
  <h2 class="fv-title">PATROCINADORES</h2>

  <div class="fv-mid-column">
    <strong class="fv-title">Ouro</strong>
    <ul class="fv-sponsors-gold">
      <li><a href="https://quero.education" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_ouro_quero_educacao.svg"></a></li>
    </ul>

    <strong class="fv-title">Prata</strong>
    <ul class="fv-sponsors-silver">
      <li><a href="https://www.guichevirtual.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_prata_guiche_virtual.png"></a></li>
      <li><a href="https://www.toptal.com" target="_blank"><img src="http://2018.frontinvale.com.br/images/toptal.png"></a></li>
    </ul>

    <strong class="fv-title">Bronze</strong>
    <ul class="fv-sponsors-bronze">
      <li><a href="https://justto.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_bronze_justto.png"></a></li>        
      <li><a href="http://www.solucx.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/solucx.png"></a></li>
    </ul>

    <strong class="fv-title">Apoio</strong>
    <ul class="fv-sponsors-support">
      <li><a href="http://help4papers.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_help4papers.svg"></a></li>
      <li><a href="https://trainingcenter.io" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_training_center.svg"></a></li>
      <li><a href="https://www.codamos.club" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_codamos.svg"></a></li>
      <li><a href="https://devnaestrada.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_dev_na_estrada.svg"></a></li>
    </ul>

    <strong class="fv-title">Realização</strong>
    <ul class="fv-sponsors-support">
      <li><a href="http://help4papers.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/avatar_designa.png"></a></li>
    </ul>
  </div>
</section>