<section class="fv-sponsors flex-column" id="sponsors">
  <h2 class="fv-title">Patrocinadores</h2>

  <strong class="inview-hide t1">OURO</strong>
  <ul class="ouro inview-hide t1">
    <li><a href="https://quero.education" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_ouro_quero_educacao.svg"></a></li>
  </ul>

  <strong class="inview-hide t2">PRATA</strong>
  <ul class="prata inview-hide t2">
    <li><a href="https://www.guichevirtual.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_prata_guiche_virtual.png"></a></li>
    <li><a href="https://www.toptal.com" target="_blank"><img src="http://2018.frontinvale.com.br/images/toptal.png"></a></li>
  </ul>

  <strong class="inview-hide t3">BRONZE</strong>
  <ul class="bronze inview-hide t3">
    <li><a href="https://justto.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/patrocinio_bronze_justto.png"></a></li>        
    <li><a href="http://www.solucx.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/solucx.png"></a></li>
  </ul>

  <strong class="inview-hide t3">APOIO</strong>
  <ul class="apoio inview-hide t3">
    <li><a href="http://help4papers.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_help4papers.svg"></a></li>
    <li><a href="https://trainingcenter.io" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_training_center.svg"></a></li>
    <li><a href="https://www.codamos.club" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_codamos.svg" style="max-width:250px"></a></li>
    <li><a href="https://devnaestrada.com.br" target="_blank"><img src="http://2018.frontinvale.com.br/images/apoio_dev_na_estrada.svg" style="max-width:250px"></a></li>
  </ul>
</section>