<section class="fv-not-today flex-center">
  <h2 class="fv-title">
    O primeiro evento do Vale do Paraíba pensado<br>
    para você, <span>Front-ender.</span> Vai perder? Not today.
  </h2>
</section>

<section class="fv-testemonials fv-mid-column">
  <h2 class="fv-title">TESTEMONIALS</h2>

  <ul class="fv-testemonials-gallery flex-center">
    <li>
      <h5>
        FELIPE DUTRA
        <span class="fv-stars-5">Avaliação: 5/5</span>
      </h5>
      <p>Um p*** evento bom de mais *-* Eu virei fã, sempre que puder to indo \o/</p>
    </li>
    <li class="active">
      <h5>
        FELIPE DUTRA
        <span class="fv-stars-4">Avaliação: 4/5</span>
      </h5>
      <p>Um p*** evento bom de mais *-* Eu virei fã, sempre que puder to indo \o/</p>
    </li>
    <li>
      <h5>
        FELIPE DUTRA
        <span class="fv-stars-3">Avaliação: 3/5</span>
      </h5>
      <p>Um p*** evento bom de mais *-* Eu virei fã, sempre que puder to indo \o/</p>
    </li>
  </ul>
</section>