<section class="fv-not-today flex-center">
  <h2 class="fv-title">
    O primeiro evento do Vale do Paraíba pensado<br>
    para você, <span>Front-ender.</span> Vai perder? Not today.
  </h2>
</section>

<section class="fv-testemonials fv-mid-column">
  <h2 class="fv-title">TESTEMONIALS</h2>

  <ul class="fv-testemonials-gallery flex-center">
    {% for testemonial in site.data.testemonials %}
      <li>
        <h5>
          {{testemonial.name}}
          <span class="fv-stars-{{testemonial.stars}}">Avaliação: {{testemonial.stars}}/5</span>
        </h5>
        <p>{{testemonial.text}}</p>
      </li>
    {% endfor %}
  </ul>
</section>
