<section class="fv-welcome flex-center" id="welcome">
  <div class="fv-mid flex-column">
    <h2>Criando novas experiências para desenvolvedores desde 2015</h2>
    <h1>
      <img src="./assets/images/frontinvale-logo.svg" alt="Front in vale 2023">
    </h1>
    <p>2 DE SETEMBRO DE 2023 EM SÃO JOSÉ DOS CAMPOS | 8H ÀS 19H</p>
    <a href="{{site.sympla}}" target="_blank" class="fv-button-primary" title="Quero me inscrever agora">Quero me inscrever agora</a>
  </div>

  <span class="fv-mouse flex-column">
    <img src="./assets/images/icon-mouse.svg">
    <img src="./assets/images/icon-arrow-bottom.svg">
  </span>
</section>
