<section class="welcome">
  <div class="row">
    <article class="info">
      <h1>Primeiro evento de <br>front-end no Vale do Paraíba.</h1>

      <h2>26 de Setembro</h2>
      <p>Faro Hotel São José dos Campos</p>

      <a href="http://www.eventick.com.br/frontinvale" class="register" target="_blank">Inscreva-se agora</a>
      
      <p class="social">
        <a href="https://www.facebook.com/frontinvale" target="_blank" title="Curta nossa fanpage.">
          <img src="images/icon-facebook.svg" alt="Facebook">
        </a>
        <a href="https://twitter.com/frontinvale" target="_blank" title="Siga-nos no twitter.">
          <img src="images/icon-twitter.svg" alt="Twitter">
        </a>
      </p>
    </article>
  </div>
</section>
