<section class="fv-welcome flex-center">
  <div class="fv-mid flex-column">
    <h2>Criando novas experiências para desenvolvedores</h2>
    <h1>
      <img src="{{site.url}}/assets/images/frontinvale-logo.svg" alt="Front in vale - 2019">
    </h1>
    <p>10 AGO DE 2019 EM SÃO JOSÉ DOS CAMPOS   |   8H ÀS 17H</p>
    <a href="http://bit.ly/frontinvale2019" target="_blank" class="fv-button-orange" title="QUERO ME INSCREVER AGORA">QUERO ME INSCREVER AGORA</a>
  </div>

  <span class="fv-mouse flex-column">
    <img src="{{site.url}}/assets/images/icon-mouse.svg">
    <img src="{{site.url}}/assets/images/icon-arrow-bottom.svg">
  </span>
</section>