@font-face {
    font-family: 'cpmono_v07black';
    src: url('/fonts/cpmono_v07_black.eot');
    src: url('/fonts/cpmono_v07_black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cpmono_v07_black.woff2') format('woff2'),
         url('/fonts/cpmono_v07_black.woff') format('woff'),
         url('/fonts/cpmono_v07_black.ttf') format('truetype'),
         url('/fonts/cpmono_v07_black.svg#cpmono_v07black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cpmono_v07bold';
    src: url('/fonts/cpmono_v07_bold-webfont.woff2') format('woff2'),
         url('/fonts/cpmono_v07_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cpmono_v07extralight';
    src: url('/fonts/cpmono_v07_extralight.eot');
    src: url('/fonts/cpmono_v07_extralight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cpmono_v07_extralight.woff2') format('woff2'),
         url('/fonts/cpmono_v07_extralight.woff') format('woff'),
         url('/fonts/cpmono_v07_extralight.ttf') format('truetype'),
         url('/fonts/cpmono_v07_extralight.svg#cpmono_v07extralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cpmono_v07light';
    src: url('/fonts/cpmono_v07_light.eot');
    src: url('/fonts/cpmono_v07_light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cpmono_v07_light.woff2') format('woff2'),
         url('/fonts/cpmono_v07_light.woff') format('woff'),
         url('/fonts/cpmono_v07_light.ttf') format('truetype'),
         url('/fonts/cpmono_v07_light.svg#cpmono_v07light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cpmono_v07plain';
    src: url('/fonts/cpmono_v07_plain.eot');
    src: url('/fonts/cpmono_v07_plain.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cpmono_v07_plain.woff2') format('woff2'),
         url('/fonts/cpmono_v07_plain.woff') format('woff'),
         url('/fonts/cpmono_v07_plain.ttf') format('truetype'),
         url('/fonts/cpmono_v07_plain.svg#cpmono_v07plain') format('svg');
    font-weight: normal;
    font-style: normal;
}
