body
  font-size: 16px
  font-family: Montserrat
  font-weight: normal

.fv-mid
  max-width: 1169px
  margin: 0 auto
  display: flex
  align-items: center

.fv-button
  min-width: 270px
  min-height: 48px
  display: flex
  border-radius: 3px
  border: solid 1px $white
  color: $white
  display: flex
  align-items: center
  justify-content: center
  font-weight: bold

  &.orange
    border: none
    background: $orange
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)

.flex-center
  display: flex
  align-items: center

.flex-column
  display: flex
  flex-direction: column