.about {
  padding: 8em 0;
  @include clearfix;

  .conference {
    text-align: center;

    .content {
      h1, p {
        color: #333;
      }

      h1 {
        margin-bottom: 15px;
      }
    }
  }
}
