.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 2em;
  background-color: #e55126;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  z-index: 1;

  .logo, .menu {
    @extend .v-align;
  }

  .logo {
    float: left;

    @extend .fit;

    a {
      display: block;
      font-size: 0;
    }

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img.logo-icon {
      width: 64px;
      margin-right: 20px;
    }

    span {
      color: #fff;
      font-family: "Panton Light";

      strong {
        font-family: "Panton Bold";
      }
    }
  }

  #menu-control {
    position: fixed;
    opacity: 0;
    left: -9999px;
    top: 50%;
  }

  .menu-control {
    position: absolute;
    right: 40px;
    top: 31px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #fff;
    border-width: 3px 0;
    z-index: 3;
    cursor: pointer;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }

  .menu-control:before {
    content: "";
    display: block;
    height: 3px;
    background: #fff;
  }

  .menu-control-close {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom:0;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    -webkit-transition: left 350ms ease-in-out;
    transition: left 350ms ease-in-out;
  }

  .menu {
    float: right;
    text-align: right;

    .trigger {
      display: none;
    }

    .list {
      display: inline-block;
      text-align: left;
      list-style: none;
      margin: 0 -1em;

      .item {
        display: inline-block;

        .item-link {
          display: inline-block;
          font-family: "Panton Bold";
          color: #fff;
          text-decoration: none;
          margin: 1em;
          transition: all 200ms ease-in-out;

          &:hover, .active {
            color: $js-color;
            text-shadow: 0 0 4px rgba(0,0,0,0.3);
          }
        }
      }
    }
  }

  @media(min-width: 1080px) {
    .menu-control,
    .menu-control-close {
      display: none;
    }
  }

  @media(max-width: 1080px) {
    #menu-control:checked ~ {
      .menu-control {
        -webkit-transform: translate(-200px, 0);
        transform: translate(-200px, 0);
      }

      .menu-control-close {
        left: 0;
      }

      .menu {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
      }
    }

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 200px;
      background-color: #E55126;
      box-shadow: -1px 0 2px #fff;
      -webkit-transform: translate(102%, 0);
      transform: translate(102%, 0);
      -webkit-transition: all 350ms;
      transition: all 350ms;
      z-index: 4;
    
      .list {
        margin: 0;
        display: block;
        
        .item {
          display: block;
          
          .item-link {
            display: block;
            margin: 0;
            padding: 1em;
          }
        }
      }
    }
  }

  @media(max-width: 1120px) {
    .logo, .menu {
      display: block;
      text-align: center;
    }

    .logo {
      width: auto;

      .logo-text {
        width: 250px;
      }
    }

    .menu {
      // margin-top: 1em;
    }
  }

  @media(max-width: 480px) {
    .logo {
      .logo-text {
        width: 200px;
      }
    }

    .menu-control {
      right: 20px;
    }
  }
}
