.schedule {
  padding: 4em 0;
  text-align: center;

  h1 {
    color: #333;
    margin-bottom: 50px;
    text-align: center;
  }

  .room {
    position: relative;
    display: inline-block;
    text-align: left;

    h1 {
      text-align: left;
      margin: 0 0 25px 0;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 2em;
      height: calc(100% - 4em);
      width: 2px;
      background-color: #ccc;
    }

    .lecture {
      position: relative;
      display: block;
      padding: 0 25px;
      margin: 25px 0;
      @include clearfix;

      .pull-right,
      .pull-left {
        width: 50%;
        padding: 0 20px;
      }

      .pull-left {
        text-align: right;
      }

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 20px;
        height: 20px;
        margin-left: -9px;
        border-radius: 50%;
        border: solid 2px #ccc;
        background-color: white;
      }

      .title {
        color: $css-color;
        font-family: "Panton Light";

        time {
          color: #333;
          font-family: "Panton Bold";
        }
      }

      .speaker {
        margin-top: .5em;
        font-family: "Panton Light";
        color: #333;
      }
    }
  }

  @media(max-width: 980px) {
    .room {
      display: block;
    }
  }
}
