.speakers {
  padding: 3em 0;
  background-color: #f2f2f2;

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  .speakers-list {
    list-style: none;
    @include clearfix;
    font-size: 0;
    margin: 0 -15px;
    text-align: center;

    .speaker {
      font-size: 1rem;
      vertical-align: top;
      display: inline-block;
      margin: 15px;
      width: calc(25% - 30px);

      .photo {
        width: 100%;
        background-color: #eaeaea;
        overflow: hidden;
        // @include icon("../images/speaker.svg", 50% 50%);

        img {
          display: block;
          width: 100%;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
          -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
        }
      }

      a {
        display: block;

        &:hover img {
          -webkit-transform: scale(1.16) rotate(10deg);
          transform: scale(1.16) rotate(10deg);
        }
      }

      .speaker-link {
        text-decoration: none;
      }

      .speaker-name {
        color: #333;
        font-family: "Panton Light Italic";
        margin: 10px 0 0;
      }

      .speaker-description {
        color: #333;
      }

      .link {
        font-style: italic;
      }
    }
  }

  @media(max-width: 767px) {
    .speakers-list .speaker {
      width: calc(50% - 30px);
    }
  }

  @media(max-width: 319px) {
    .speakers-list .speaker {
      width: 100%;
    }
  }
}
