.sponsors {
  background-color: #f2f2f2;
  padding: 4em 0 0;

  h1 {
    color: #333;
    margin-bottom: 50px;
    text-align: center;
  }

  h2 {
    font-family: "Panton Light";
    font-size: 1.8em;
    text-align: center;
    color: #333;
  }

  .sponsors-list {
    list-style: none;
    @include clearfix;
    font-size: 0;
    margin: 0 -15px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      display: table;
      min-width: 280px;
      min-height: 90px;
      margin: 15px;
      font-size: 1rem;
      text-align: center;
      // border: 1px solid #ccc;
      // background-color: #fff;

      a.item-info {
        display: table-cell;
        vertical-align: middle;
        color: $css-color;
      }

      .category {
        font-family: "Panton Light";
        color: #333;
      }

      .item-link {
        // padding-top: 25px;

        img {
          height: 12em;
          max-height: 140px;
          display: block;
          margin: 0 auto;
          
          &.item-img-silver {
            max-height: 110px;
          }

          &.item-img-bronze {
            max-height: 60px;
          }

          &.item-img-supporter {
            max-height: 60px;
          }
        }
      }

      .item-link {
        display: block;
        text-decoration: none;
      }

      .link {
        font-style: italic;
      }
    }

    .no-sponsor {
      background-color: #eaeaea;
      display: table;
      padding: 15px;
      min-width: 20em;

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      img, p {
        @extend .v-align;
      }

      img {
        margin-right: 1em;
        width: 3em;
      }

      p {
        color: #333;
      }
    }
  }

  @media(max-width: 767px) {
    .sponsors-list .item {
      // width: calc(50% - 30px);
    }
  }

  @media(max-width: 520px) {
    .sponsors-list .item {
      width: 100%;
      margin: 15px 0;
    }
  }
}
