.welcome {
  // @include background("../images/background.jpg", cover, center top);
  min-height: 100%;
  padding-top: 50px;
  position: relative;

  @media(max-width: 1023px) {
    text-align: center;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffb300 url(../images/bg-header.png) fixed;
  }

  .info {
    position: relative;
    padding: 8em 0 4em 0;
    text-align: center;

    h1 {
      font-size: 4em;
      font-family: "Panton Light";
      text-shadow: 1px 1px 3px #E55126;
    }

    h2 {
      font-size: 2em;
      margin-top: 2em;
      text-shadow: 1px 1px 3px #E55126;
    }

    p {
      font-family: "Panton Bold";
      margin: .5em 0 2em 0;
      text-shadow: 1px 1px 3px #E55126;
    }

    .register {
      @extend .btn;
    }
  }
}
