* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #22262f;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 130px;
  margin-bottom: 10px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.cta {
  background: #d6520d;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 15px 50px;
  border-radius: 3px;
  margin-bottom: 60px;
}

.icons img {
  height: 35px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .logo {
    height: 60px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .cta {
    width: 100%;
  }
}