<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
    
    <title>{{site.title}}</title>
    
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:keywords" content="{{site.keywords}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:image" content="{{site.url}}/assets/images/frontinvale-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="300">

    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:url" content="{{site.url}}">
    <meta name="twitter:image" content="{{site.url}}/assets/images/frontinvale-social.png">
    <meta name="twitter:image:width" content="500">
    <meta name="twitter:image:height" content="300">
    <link rel="canonical" href="{{site.url}}/">

    <link rel="stylesheet" href="{{site.url}}/assets/style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Quattrocento:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>{{site.title}}</h1>   
  </body>
</html>