header
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 70px 0 0
  z-index: 5

  nav
    justify-content: space-between

    a
      color: $white
      font-weight: 500
      letter-spacing: 0.1px
      color: #ffffff

    li
      padding-left: 30px
