header
  position: absolute
  top: -0
  left: 0
  right: 0
  padding: 70px 0 0
  z-index: 5
  transition: all 0.5s ease

  &.fv-header-scrolled
    position: fixed
    padding: 20px 0 20px
    background-color: #fff
    border-bottom: 1px solid rgba(#000, 0.5)

    svg g
      fill: #000

    nav a
      color: #000

    .fv-button
      border-color: #000

  nav
    justify-content: space-between

    a
      color: white
      font-weight: 500
      letter-spacing: 0.1px

    li
      padding-left: 30px
