.fv-welcome
  background: url(images/bg-throne.jpg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0
  position: relative

  .fv-mid
    h2, p
      font-size: 20px
      letter-spacing: 0.2px
      text-align: center
      color: white
      margin-bottom: 47px

    p
      font-size: 24px

    img
      margin-bottom: 47px

  .fv-button-orange
    min-width: 370px

.fv-mouse
  position: absolute
  bottom: 50px
  left: 50%

  img:first-child
    margin-bottom: 5px

.fv-is-coming
  background: url(images/bg-editions.svg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0

  .fv-mid
    align-items: start
    justify-content: space-between

  &-desc
    max-width: 400px
    letter-spacing: 0.15px

    p
      padding-top: 30px
      line-height: 22px

  &-gallery
    position: relative
    max-width: 680px
    margin-left: 85px

    p
      padding-bottom: 17px

    &-left,
    &-right
      position: absolute
      top: 50%
      left: -20px

    &-right
      left: auto
      right: -20px

    img
      max-width: 100%

.fv-schedule
  background: white
  color: $brown

  .fv-title
    padding: 140px 0 0 0

    ~ p
      text-align: center
      padding-bottom: 45px
      min-width: 570px
      border-bottom: 5px solid rgba(177, 177, 177, 0.57)

.fv-timeline
  padding: 70px 0 60px
  position: relative
  align-self: stretch

  &:before
    content: ""
    position: absolute
    top: 115px
    left: calc(50% - 1px)
    bottom: 155px
    width: 2px
    background-color: #d8d8d8

  .fv-talks
    width: calc(100% - 80px)
    max-width: 900px
    margin: auto
    position: relative
    left: -5px
    display: table

    .fv-talk-time
      font-family: Montserrat
      font-weight: bold
      color: $orange
      position: relative
      display: block
      padding-bottom: 10px

      img
        position: absolute
        width: 45px
        height: 45px
        border-radius: 50%
        top: 50%
        -webkit-transform: translateY(-50%)
        transform: translateY(-50%)
        right: -88px
        z-index: 2

    .fv-talk-title
      font-family: Quattrocento
      font-size: 18px
      font-weight: bold
      font-style: normal

      strong
        font-size: 34px

      span
        font-size: 18px

    .fv-talk
      width: calc(50% - 40px)
      float: left
      padding: 40px 20px 100px
      clear: both
      text-align: right

      &:not(:first-child)
        margin-top: -60px

      &:last-child
        padding-bottom: 0

      div p
        line-height: 1.4em
        font-size: 1.4em

        &:not(:first-child)
          font-size: 0.9em

        span
          font-weight: 300

      &:nth-child(2n)
        text-align: left
        float: right

      &:nth-child(2n) .fv-talk-time img
        left: -78px
        right: auto

.fv-speakers
  background: #e7e7e7

  &-first
    box-shadow: inset 0 293px white

    .flex-wrap
      max-width: 880px

  .fv-title
    padding: 128px 0 45px
    color: #58230f

  li
    min-width: 292px
    min-height: 219px
    position: relative

    > img
      width: 100%
      display: block
      filter: grayscale(100%)

    div
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
