.fv-welcome
  background: url(images/bg-throne.jpg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0
  position: relative

  @include fv-only
    display: block

  .fv-mid
    h2, p
      font-size: 20px
      letter-spacing: 0.2px
      text-align: center
      color: white
      margin-bottom: 47px

    p
      font-size: 24px

      @include fv-only
        padding-left: 10px
        padding-right: 10px

    img
      margin-bottom: 47px

      @include fv-only
        display: block
        margin-left: auto
        margin-right: auto
        width: 85%

  .fv-button-orange
    min-width: 370px

    @include fv-only
      min-width: 290px

.fv-mouse
  position: absolute
  bottom: 50px
  left: 50%

  img:first-child
    margin-bottom: 5px

.fv-is-coming
  background: url(images/bg-editions.svg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0

  @include fv-only
    padding-bottom: 50px

  .fv-mid
    align-items: start
    justify-content: space-between

  &-desc
    max-width: 400px
    letter-spacing: 0.15px

    @include fv-only
      max-width: 90%
      margin-left: auto
      margin-right: auto

    p
      padding-top: 30px
      line-height: 22px

  &-gallery
    position: relative
    max-width: 680px
    margin-left: 85px
    margin-right: 25px

    @include fv-only
      margin-left: 40px
      margin-right: 40px
      margin-top: 50px

    p
      padding-bottom: 17px

    &-left,
    &-right
      position: absolute
      top: 50%
      left: -20px

    &-right
      left: auto
      right: -20px

    img
      max-width: 100%

.fv-schedule
  background: white
  color: $brown

  @include fv-only
    overflow: hidden

    img
      width: 1400px
      margin-left: -50px

  .fv-title
    padding: 140px 0 0 0

    @include fv-only
      padding-top: 50px
      text-align: center

    ~ p
      text-align: center
      padding-bottom: 45px
      min-width: 570px
      border-bottom: 5px solid rgba(177, 177, 177, 0.57)

      @include fv-only
        min-width: 90vw

.fv-timeline
  padding: 70px 0 60px
  position: relative
  align-self: stretch

  &:before
    content: ""
    position: absolute
    top: 115px
    left: calc(50% - 1px)
    bottom: 155px
    width: 2px
    background-color: #d8d8d8

    @include fv-only
      left: calc(95% - 36px)

  .fv-talks
    width: calc(100% - 80px)
    max-width: 900px
    margin: auto
    position: relative
    left: -5px
    display: table

    .fv-talk-time
      font-family: Montserrat
      font-weight: bold
      color: $orange
      position: relative
      display: block
      padding-bottom: 10px

      img
        position: absolute
        width: 45px
        height: 45px
        border-radius: 50%
        top: 50%
        -webkit-transform: translateY(-50%)
        transform: translateY(-50%)
        right: -88px
        z-index: 2

    .fv-talk-title
      font-family: Quattrocento
      font-size: 18px
      font-weight: bold
      font-style: normal

      strong
        font-size: 34px

      span
        font-size: 18px

    .fv-talk
      float: left
      padding: 40px 20px 100px
      clear: both
      text-align: right
      width: calc(50% - 40px)

      @include fv-only
        width: calc(95% - 40px)

      &:not(:first-child)
        margin-top: -60px

      &:last-child
        padding-bottom: 0

      div p
        line-height: 1.4em
        font-size: 1.4em

        &:not(:first-child)
          font-size: 0.9em

        span
          font-weight: 300

      &:nth-child(2n)
        @include fv
          text-align: left
          float: right

      &:nth-child(2n) .fv-talk-time img
        @include fv
          left: -78px
          right: auto

.fv-speakers
  background: #e7e7e7

  &-first
    @include fv
      box-shadow: inset 0 293px white

    .flex-wrap
      max-width: 880px

  &-last
    @include fv
      padding-bottom: 175px

  h2.fv-title
    padding: 128px 0 45px
    color: #58230f

  li
    min-width: 292px
    min-height: 219px
    position: relative

    > img
      width: 100%
      display: block
      filter: grayscale(100%)

    div
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      padding: 0 25px 0
      display: flex
      flex-direction: column
      justify-content: flex-end
      background-color: transparent
      transition: all 0.4s 0.4s ease

      &:hover,
      &:focus
        padding-bottom: 20px
        background-color: $orange
        transition-delay: 0s

        .fv-description
          max-height: 200px
          transition-delay: 0.3s

        a
          opacity: 1
          visibility: visible
          transition-delay: 0.4s

    h4
      font-size: 24px
      line-height: 26px
      text-transform: uppercase

    p
      padding-top: 6px
      line-height: 16px
      font-size: 14px

    a
      position: absolute
      top: 33px
      right: 56px
      opacity: 0
      visibility: hidden
      transition: all 0.5s 0s ease

    .fv-description
      padding-top: 17px
      padding-bottom: 2px
      overflow: hidden
      max-height: 0
      transition: all 0.5s 0.2s ease

.fv-location
  position: relative
  min-height: 100vh

  @include fv-only
    overflow: hidden

  &-desc
    justify-content: center
    background-color: rgba(#1c1c1e, 0.93)

    @include fv
      min-height: 680px
      left: 50%
      max-width: 50%

    div
      max-width: 385px
      line-height: 22px
      font-size: 20px

      @include fv-only
        max-width: 90%
        padding: 40px 0

  img
    display: block

    &.w100
      @include fv-only
        min-width: 1000px
        position: relative
        left: 50%
        transform: translateX(-50%)

  iframe
    width: 100%
    height: 360px
    display: block

    @include fv
      position: absolute
      top: 0
      right: 0
      width: 140%
      height: 100%

.fv-enrollment
  background: white
  color: $brown
  padding-bottom: 100px

  @include fv-only
    text-align: center

  .fv-title
    font-size: 44px
    padding: 140px 0 0 0

    @include fv-only
      text-align: center

    ~ p
      color: #7b7b7b
      font-size: 20px
      padding-bottom: 60px

  &-sympla
    width: 90%

    @include fv
      width: 600px

.fv-not-today
  background: url(images/bg-editions.svg) no-repeat center center
  background-size: cover
  justify-content: center
  min-height: 345px

  @include fv-only
    padding: 40px 20px

  .fv-title
    font-size: 44px

    span
      color: $orange

.fv-testemonials
  min-width: 100%
  padding: 95px 0 130px
  color: $brown
  background: #e7e7e7

  .fv-title
    padding-bottom: 70px

  h5
    font-size: 21px
    font-weight: bold

  p
    padding-top: 28px
    color: #7b7b7b
    font-weight: 500
    line-height: 35px

  &-gallery
    padding-right: 25px

    @include fv-only
      flex-direction: column

    li
      position: relative
      margin: 0 0 0 25px
      padding: 40px 20px
      border-radius: 10px
      background-color: #ffffff
      box-shadow: 10px 10px 60px 0 rgba(141, 154, 169, 0.5)
      
      @include fv-only
        margin-top: 25px

      h5
        position: relative

      &.active
        @include fv
          padding: 60px 45px

.fv-stars
  position: absolute
  top: 0px
  right: 0
  display: block
  width: 122px
  background: url(images/icon-5-stars@3x.png) no-repeat 1px top
  background-size: auto 15px
  overflow: hidden
  text-indent: -999px

  &-5
    @extend .fv-stars

  &-4
    @extend .fv-stars
    background-position: -25px top

  &-3
    @extend .fv-stars
    background-position: -52px top

.fv-sponsors
  padding: 135px 0
  align-items: center
  color: $brown

  @include fv-only
    padding-bottom: 60px

  .fv-mid-column
    width: 100%

  strong
    display: block
    padding-bottom: 45px
    padding-top: 95px
    color: #0e1e27

  ul
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    li
      padding: 0 15px

      @include fv
        padding: 0 35px

  &-gold
    img
      width: 400px

  &-silver
      img
        width: 300px

  &-bronze
      img
        width: 250px

  &-support
    img
      width: 120px

  @include fv-only
    img
      max-width: 95%

.fv-interested
  padding: 65px 0
  background: #e7e7e7
  color: #7b7b7b
  justify-content: space-between

  @include fv-only
    padding-bottom: 0
  
  &-desc
    padding: 0 20px 40px

    @include fv
      padding: 0px 130px 0 0
      max-width: 560px

  img
    width: 100%
    display: block

  p
    font-size: 25px
    font-weight: 500
    line-height: 1.22
    letter-spacing: 0.3px
    padding-bottom: 40px

.fv-organization
  background: white

  @include fv
    padding-bottom: 165px

  .flex-wrap
    max-width: 880px

.fv-footer
  min-height: 345px
  background: url(images/bg-editions.svg) no-repeat center center
  background-size: cover
  justify-content: center

  .fv-mid
    flex-wrap: wrap
    justify-content: space-between

    @include fv-only
      justify-content: center
      text-align: center
      padding: 40px 15px

  p
    min-width: 100%
    padding-top: 95px

  a
    margin: 0 0 0 29px

    &:first-child
      margin-left: 0

  img
    display: block

  .fv-title
    font-size: 56px

.fv-small-icon
  width: 34px
  height: 34px
