.fv-welcome
  background: url(images/bg-throne.jpg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0
  position: relative

  .fv-mid
    h2, p
      font-size: 20px
      letter-spacing: 0.2px
      text-align: center
      color: white
      margin-bottom: 47px

    p
      font-size: 24px

    img
      margin-bottom: 47px

  .fv-button
    min-width: 370px

.fv-mouse
  position: absolute
  bottom: 50px
  left: 50%

  img:first-child
    margin-bottom: 5px

.fv-is-coming
  background: url(images/bg-editions.svg) no-repeat center center
  background-size: cover
  min-height: 100vh
  padding: 118px 0

.fv-schedule
  background: white
  color: $brown

  strong
    font-family: Quattrocento-Bold