body {
  background: no-repeat center;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0px 30px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  background-color: #6bff49;
  border-radius: 5px;
  color: #093e18;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  margin: 0 15px;
  transition: ease all .2s;
}

a:hover  {
  background-color: #093e18;
  color: #6bff49;
}

p {
  color: #fff;
  font-size: 2em;
  margin: 0;
}

p small {
  font-weight: lighter;
}

.fv-actions {
  margin: 50px 0 30px;
}

@media screen and (max-width: 510px) {
  a {
    display: block;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.5em;
  }

  .fv-actions {
    margin: 20px 0;
  }

  .fv-ilustra {
    width: 220px;
  }
}
